#first-block, #second-block, #looking_for, #testimonials {
text-align:center;
padding:3.5rem 0;
}
#carousel {
text-align:center;
background:#fff;
}
#carousel .item .line h2{
	color :#fff;
	margin-bottom: 25px;
}
#first-block {
background:#fff;
}
#second-block {
	background:#fff;
}
#looking_for {
	background:#fd8a75;
}
#testimonials {
	background:#e5e5e5;
}
.third-block-img {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.third-block-img_test {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 25px;
}
#third-block-img-mall {
	background: url("../img/mall.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
#third-block-img-store {
	background: url("../img/store.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
#third-block-img-airport {
	background: url("../img/airport.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
#third-block-img-event {
	background: url("../img/event.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
.first-block-icons{
	text-align: center;
	width: 100px;
}
.block {
	margin-bottom: 13px;
}
.block .third_block_content {
	background-color: #fff;
	border: 4px solid #eee;
	padding-top: 25px;
	padding-bottom: 25px;
}

.third_block_content hr {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}
.block h4 {
	color: #888;
}
.block p {
	padding-top: 10px;
}
.block:hover #third-block-img-mall {
	background: url("../img/mall_white.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
.block:hover #third-block-img-store {
	background: url("../img/store_white.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
.block:hover #third-block-img-airport {
	background: url("../img/airport_white.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
.block:hover #third-block-img-event {
	background: url("../img/event_white.png")  no-repeat;
	background-size: 80px, 80px, auto;
}
.block:hover .third_block_content {
	background-color: #fc5f43;
	border: 4px solid #fc5f43;
}
.block:hover h4 {
	color: #fff;
}
.block:hover p {
	color: #fff;
}
#looking_for h2 {
	color: #fff;
}
#second-block h2 {
	margin-top: 70px;
}
#second-block .screen-image {
	width: 600px;
}
#second-block .android-image {
	width: 300px;
	margin-bottom: 40px;
}
.android-image {
	box-shadow: 5px 5px 24px #eee;
}

#testimonials .testimony_image{
	width: 140px;
	height: 140px;
	border-radius: 75px;
	border: 6px solid #ccc;
}

footer {
	background:#fc5f43;
	padding:1rem 0;
	color :#fff;
}

footer a, footer h4 {
	color :#fff !important;
}

footer hr {
	margin: 0px 50px 0px 0px;
}

#terms_condition, #about_us {
	background-color: #fff;
	/*margin-top: -8px;*/
	padding: 50px 0px 50px 0px;
}

#terms_condition h3 {
	margin-bottom: 50px;
}


#contact_details{
	/*background-color: #5f5f5f;*/
	/*color: #98D125;*/
	color: #1f1f14;
	/*background-color: #98D125;*/
	padding: 10%;
}

#contact_form {
	padding: 50px;
	/*background-color: #1f1f14;*/
	color: #98D125;
}

#contact_form .btn {
	background-color: #98D125;
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
	color: #1f1f14;
}

#contact_form .btn:hover {
	color: #98D125;
	background-color: #1f1f14;
	border: solid 1px #98D125;
}

.contact_content{
	overflow: hidden;
	/*border-bottom: solid 2px #98D125;*/
	background-color: #fff;*/
}
#contact_left{
	background-color: #98D125;
	width: 100%;
}
#googleMap {
	/*border: solid 2px #98D125;*/
	border-left: 0px;
	height: 350px;
	width: 100%;
}
#contact_details #address {
	font-size: 26px;
	margin-bottom: 20px;
}	

#contact_details #phone {
	font-size: 26px;
	margin-bottom: 20px;
}

#contact_details #email {
	font-size: 26px;
}	
#contact_details i {
	color: #fc5f43;
}
#contact_form .contact_label {
	font-size: 18px;
	padding-top: 15px;
}

#contact_form .contact_input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 16px;
	border: 2px solid #999;
}
#contact_form .btn {
	font-size: 15px;
}
@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
  #second-block h2 {
  	margin-top: 10px;
  }
  #second-block .screen-image {
  	width: 100%;
  }
  #contact_details #address {
		font-size: 15px;
		margin-bottom: 20px;
	}	

	#contact_details #phone {
		font-size: 25px;
		margin-bottom: 20px;
	}

	#contact_details #email {
		font-size: 20px;
	}	
	#contact_form .contact_label {
		font-size: 15px;
		padding-top: 10px;
	}

	#contact_form .contact_input {
		width: 100%;
		padding: 10px;
		color: #000000;
	}
	#contact_form .btn {
		font-size: 15px;
	}
	#googleMap {
		height: 250px;
	}
}


#about_us .margin-right-20 {
	padding-right: 20px;
}

.well {
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#about_us .margin-left-20 {
	padding-left: 20px;
}

#about_us h4, #about_us li {
	font-size: 18px;
}

.page_heading span {
	border-bottom: 3px dotted #152732;
	padding-right: 20px;
}
.page_heading i {
	color: #fc5f43;
}

.about_us h4 strong, .about_us b {
	color: #fc5f43 !important;
}